<%- include("includes/head.ejs") %>
  <link rel="stylesheet" href="/styles/404.css" />
 </head>

  <body class="body">
    <header class="header">
      <%- include("includes/navigation.ejs") %>
    </header>

    <h1 class="main">Page Not Found👻</h1>
<%- include("includes/end.ejs") %>
